{% extends 'base.html' %}

{% block title %}Add Expense{% endblock %}

{% block footer %}

<script src="/js/getTodayDate.js"></script>

<script>

  $(document).ready(function() {
    $('#formAddExpense').validate({
      rules: {
        amount: {
          required: true,
          min: 0.01,
          max: 9999999.99
        },
        date: 'required',
        comment: {
          maxlength: 100
        }
      }
    });
  });

</script>

{% endblock %}

{% block body %}

  {% if expense.errors is not empty %}
      <p>Errors:</p>
      <ul>
          {% for error in expense.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
  {% endif %}

  <div id="expensePanel">
    <div id="upperExpensePanel">
      <div id="upperExpensePanelText">
        Adding Expense
      </div>
      <!-- <span class="material-icons" style="font-size: 60px; line-height: 125%;float: left;">
        add_circle
      </span> -->
    </div>

    <div class="lowerPanel" style="height: 355px;">

      <form method="post" action="/ExpenseController/create" id="formAddExpense">

        <div class="inputPanel">
          <input type="number" name="amount" step="0.01" placeholder="0.00" min="0.01" max="99999999.99" class="form-control" value="{{ expense.amount }}" />
        </div>

        <div class="inputPanel">
          <input type="date" name="date" class="form-control" id="enterDate" value="{{ expense.date }}" />
        </div>

        <div class="inputPanel">
          <select class="form-control" name="expense_category_id">
            {% for category in expense_categories %}
              <option value="{{ category[0]}}">{{ category[1] }}</option>';
            {% endfor %}
          </select>
        </div>

        <!-- <div class="inputPanel">
          <i class="icon-pencil"></i>
          <select class="enterPaymentMethod" name="payment_method">
          <?php
              for($i=0; $i<$paymentMethodsNumber; $i++)
              {
              echo '<option value="'.$paymentMethods[$i][0].'">'.$paymentMethods[$i][1].'</option>';
              }
            ?>
          </select>
        </div> -->

        <div class="inputPanel">
          <input type="text" name="comment" class="form-control"
            placeholder="Add comment to the income" value="{{ income.comment }}" />
        </div>
        
        <input type="submit" class="addButton" value="ADD">
        <a href="/usermenu/show"><input type="button" class="cancelButton" value="CANCEL"></a>
      </form>
    </div>
  </div>

{% endblock %}