{% extends 'base.html' %}

{% block title %}Add Expense{% endblock %}

{% block footer %}

<script src="/js/getTodayDate.js"></script>

<script src="/js/Ajax/categoryLimitNewExpense.js"></script>

{% endblock %}

{% block body %}

  {% if expense.errors is not empty %}
      <p>Errors:</p>
      <ul>
          {% for error in expense.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
  {% endif %}

  <div id="expensePanel">
    <div id="upperExpensePanel">
      <div id="upperExpensePanelText">
        Adding Expense
      </div>
      <svg width="45px" height="45px" viewBox="0 0 16 16" class="bi bi-dash-circle mt-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </div>

    <div class="lowerPanel" style="height: 415px;">

      <form method="post" action="/ExpenseController/create" id="formAddExpense">

        <div class="inputPanel">
          <input id= "inputAmount" onchange="checkLimit();" type="number" name="amount" step="0.01" placeholder="0.00" min="0.01" max="99999999.99" class="form-control" value="{{ expense.amount }}" />
          <span id="categoryLimitWarning"></span>
        </div>

        <div class="inputPanel">
          <input type="date" name="date" class="form-control" id="enterDate" value="{{ expense.date }}" />
        </div>

        <div class="inputPanel">
          <select id="inputCategory" onchange="checkLimit();" class="form-control" name="expense_category_id" data-category-id="{{category[0]}}">
            {% for category in expense_categories %}
              <option data-category-name="{{category[1]}}" value="{{ category[0]}}">{{ category[1] }}</option>';
            {% endfor %}
          </select>
        </div>

        <div class="inputPanel">
          <select class="form-control" name="payment_method_id">
            {% for method in payment_methods %}
            <option value="{{ method[0]}}">{{ method[1] }}</option>';
          {% endfor %}
          </select>
        </div>

        <div class="inputPanel">
          <input type="text" name="comment" class="form-control"
            placeholder="Add comment to the income" value="{{ income.comment }}" />
        </div>
        
        <input type="submit" class="addButton" value="ADD">
        <a href="/UserMenu/show"><input type="button" class="cancelButton" value="CANCEL"></a>
      </form>
    </div>
  </div>

{% endblock %}