{% extends 'base.html' %}

{% block title %}Balance{% endblock %}

{% block footer %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="/js/balance.js"></script>
<script src="/js/dateChanger.js"></script>
<script src="/js/Ajax/showDetailedIncomes.js"></script>
<script src="/js/Ajax/categoryLimitBalanceSite.js"></script>

{% endblock %}

{% block body %}

<div class="row">
  <div class="col">
    <div id="setDateRangeForm" data-time-period="{{time_period}}" data-start-date="{{start_date}}" data-end-date="{{end_date}}">
      <form id="dateForm" method="post" action="/balance/show">
        <ul id="setDateRangeList">
          <li>
            <span style="font-size: 20px;">Set date range of your transactions:</span>
          </li>
          <hr style="background-color: #474747;" />
          <li>
          <input type="radio" class="timePeriodRadio" id="currentMonthRadio" name="time_period" value="current_month">
          <label for="currentMonthRadio">Current Month</label>
          </li>
          <li>
          <input type="radio" class="timePeriodRadio" id="previousMonthRadio" name="time_period" value="previous_month">
          <label for="previousMonthRadio">Previous Month</label>
          <li>
          <input type="radio" class="timePeriodRadio" id="currentYearRadio" name="time_period" value="current_year">
          <label for="currentYearRadio">Current Year</label>
          </li>
          <li>
          <input type="radio" class="timePeriodRadio" id="totalTimeRadio" name="time_period" value="total_time">
          <label for="totalTimeRadio">Total Time</label>
          </li>
          <li>
          <button type="button" class="btn btn-primary" style="background-color: #faad07; border: 1px solid black;" data-toggle="modal" data-target="#dateModal">Other Date Range</button>
          </li>
          <li id="otherPeriodOfTimeLabel">{{start_date}} : {{end_date}}</li>
        </ul>
      </form>
    </div>
  </div>
</div>

<!-- Modal with other date range -->

<div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #faad07;">
        <h5 class="modal-title" id="modalLabel">Set a date range:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post">
        <div class="modal-body">
          <div id="dateRangeSection">
            Enter start date:
            <div class="inputPanel">
              <i class="icon-calendar"></i><input type="date" class="enterDate" name="start_date">
            </div>
            Enter end date:
            <div class="inputPanel">
              <i class="icon-calendar"></i><input type="date" class="enterDate" name="end_date">
            </div>
          </div> 
        </div>
        <div class="modal-footer" style="background-color: #faad07;">
          <button type="submit" class="btn btn-modal">Submit</button>
          <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<section>
<div class="row">
  <div class="col-lg-6">
    <div class="PBTable">
      <header>
        <div class=" PBTableHeader" style="background-color: #faad07;">
          Incomes
        </div>
      </header>
      <div class="row no-gutters">
        <div class="PBTableColumn">
          <ul class="PBTableRows" id="incomes">
            {% for income in incomes %}
              {% for category, amount in income %}
                <li>
                  <span class="categoryCell">{{ category }}</span>: <span class="amountCell" data-category-name="{{category}}">{{amount}}</span>
                  <div class="editDeleteSpan transactionDetailsWrapper" data-transaction-type="income" data-category-name="{{category}}">  
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                    </svg>
                  </div>
                </li>
                <div class="transactionDetails" id="{{category}}_income"></div>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <footer>
        <div class="PBTableFooter" id="incomesSum" style="background-color: #faad07;">
          {{ sum_of_incomes }}
        </div>
      </footer>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="PBTable">
      <header>
        <div class="PBTableHeader" style="background-color: #faad07;">
          Expenses
        </div>
      </header>
      <div class="row no-gutters">
        <div class="PBTableColumn">
          <ul class="PBTableRows" id="expenses">
            {% for expense in expenses %}
              {% for category, amount in expense %}
                <li>
                  <span class="categoryCell">{{ category }}</span>: <span class="amountCell expenseCell" data-category-name="{{category}}">{{amount}}</span>
                  <div class="editDeleteSpan" data-transaction-type="expense" data-category-name="{{category}}">  
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                    </svg>
                  </div>
                </li>
                <div class="transactionDetails" id="{{category}}_expense"></div>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <footer>
        <div class="PBTableFooter" id="expenseSum" style="background-color: #faad07;">
          {{ sum_of_expenses }}
        </div>
      </footer>
    </div>
  </div>
</div>
</section>
<div style="clear: both;"></div>
<section>
<div id="balanceWindow" onload=getBalance()>
  Your balance is:
</div>
</section>
<section id="charts">
<div class="row" style="margin-bottom: 100px;">
  <div class="col-xl-6">
    <div id="piechart_3d_incomes">
    </div>
  </div>
  <div class="col-xl-6">
    <div id="piechart_3d_expenses">
    </div>
  </div>
</div>
</section>

{% endblock %}