{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block footer %}
    
    <script>

    $(document).ready(function () {
        $(".next").on("click", function () {
            var currentImg = $(".active");
            var nextImg = currentImg.next();
            if (nextImg.length) {
                currentImg.removeClass("active").css("z-index", -10);
                nextImg.addClass("active").css("z-index", 10);
            }
        });

        $(".prev").on("click", function () {
            var currentImg = $(".active");
            var prevImg = currentImg.prev();
            if (prevImg.length) {
                currentImg.removeClass("active").css("z-index", -10);
                prevImg.addClass("active").css("z-index", 10);
            }
        });
    });

    </script>

{% endblock %}

{% block body %}

    <div style="background-color: #696969; padding: 15px; margin: 30px 0; border-radius: 10px;">
        <div class="row">
            <div class="col-lg-6">
                <div id="startPageText">
                    <p>
                    Peronal Budget Manager is a tool that helps you with your daily financial operations. Have your money
                    under
                    control. With this app you can:
                    </p>
                    <ul>
                    <li>add incomes</li>
                    <li>add expenses</li>
                    <li>check balance</li>
                    <li>get financial analysis</li>
                    </ul>
                    <p>
                    All finances are personalized with privates accounts. With the app you can see what you spend money on and
                    analize any period of time.

                    Login to Personal Budget Manager or if you have not account yet sign up freely and join to us. This may
                    change
                    your life or at least save some money for holiday.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="slider-outer">
                    <b>Lets check Personal Budget Manager!</b>
                    <br />
                    <img src="/img/arrow-left.png" class="prev" alt="Previous">
                    <div class="slider-inner">
                        <img src="/img/menu.png" class="active" alt="Screenshot 1." />
                        <img src="/img/add_income.png" alt="Screenshot 2." />
                        <img src="/img/charts.png" alt="Screenshot 3." />
                    </div>
                    <img src="/img/arrow-right.png" class="next" alt="Next">
                </div>
            </div>
        </div>
        <div class="row">  
            <div class="col-sm-6">
                <a href="/login/new">
                    <div class="loginButton" style="margin-bottom: 30px; width: 80%; line-height: 300%;">
                    LOGIN
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="/signup/new">
                    <div class="registerButton" style="margin-bottom: 30px; width: 80%; line-height: 300%;">
                    REGISTER
                    </div>
                </a>
            </div>
        </div>
    </div>
    
{% endblock %}