{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block footer %}

<script src="/js/updateProfileValidator.js"></script>

{% endblock %}

{% block body %}

<!-- User profile settings -->
<div class="row">

  <div class="col-lg-6">
    <div id="profileDetailsTile">
      <div class="row">
        <div class="col" style="border-right: 0.5px solid #0355a7;">
          <div id="profileIcon">
            <svg width="140px" height="140px" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
          </div>
        </div>
        <div class="col">
          <ul id="profileDetailsList">
            <li>
              Name: {{ user.name }}
            </li>
            <li>
              Email: {{ user.email }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div id="profileSettingsTile">
      <ul id="profileSettingsList">
        <li>
          <a href="#changeNameModal" data-toggle="modal" data-target="#changeNameModal">
            Change Name
          </a>
        </li>
        <li>
          <a href="#changeEmailModal" data-toggle="modal" data-target="#changeEmailModal">
            Change Email
          </a>
        </li>
        <li>
          <a href="#changePasswordModal" data-toggle="modal" data-target="#changePasswordModal">
            Change Password
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>

<!-- Modals for user profile settings -->

<div class="modal fade" id="changeNameModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #0588c9;">
        <h5 class="modal-title" id="modalLabel">Change Your Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="changeNameModalForm" action="/Account/updateName">
        <div class="modal-body">

          <div class="inputPanel">
            <input id="inputName" name="name" placeholder="New name" autofocus required
            class="form-control"/>
          </div>

        </div>
        <div class="modal-footer" style="background-color: #0588c9;">
          <button type="submit" class="btn btn-modal">Submit</button>
          <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #0588c9;">
        <h5 class="modal-title" id="modalLabel">Change Your Email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="changeEmailModalForm" action="/Account/updateEmail">
        <div class="modal-body">

          <div class="inputPanel">
            <input type="email" id="inputEmail" name="email" placeholder="New email address" required
            class="form-control"/>
          </div>
        </div>

        <div class="modal-footer" style="background-color: #0588c9;">
          <button type="submit" class="btn btn-modal">Submit</button>
          <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #0588c9;">
        <h5 class="modal-title" id="modalLabel">Change Your Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="changePasswordModalForm" action="/Account/updatePassword">
        <div class="modal-body">

          <div class="inputPanel">
            <input type="password" id="inputOldPassword" name="old_password" placeholder="Old password" required
            class="form-control"/>
          </div>

          <div class="inputPanel">
            <input type="password" id="inputPassword" name="new_password" placeholder="New password" required
            class="form-control"/>
          </div>

          <div class="inputPanel">
            <input type="password" id="inputPasswordConfirmation" name="password_confirmation" placeholder="Repeat new password" required
            class="form-control"/>
          </div>

        </div>
        <div class="modal-footer" style="background-color: #0588c9;">
          <button type="submit" class="btn btn-modal">Submit</button>
          <button type="button" class="btn btn-modal" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Table with income categories, expense categories and payment methods -->

<div class="row">

  <div class="col-lg-4">
    <div class="PBTable">
      <header>
        <div class="PBTableHeader" style="background-color: #0588c9;">
          Incomes Category
        </div>
      </header>
        <div class="PBTableColumn">
          <ul class="PBTableRows" id="incomesItems">
            {% for category in income_categories %}
                <li>{{ category[1] }}</li>
            {% endfor %}
          </ul>
        </div>
      <footer>
        <div class="PBTableFooter" style="background-color: #0588c9;">
          Add New Category
        </div>
      </footer>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="PBTable">
      <header>
        <div class="PBTableHeader" style="background-color: #0588c9;">
          Expense Categories
        </div>
      </header>
          <div class="PBTableColumn">
            <ul class="PBTableRows" id="expensesItems">
              {% for category in expense_categories %}
                  <li>{{ category[1] }}</li>
              {% endfor %}
            </ul>
          </div>
      <footer>
        <div class="PBTableFooter" style="background-color: #0588c9;">
          Add New Category
        </div>
      </footer>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="PBTable">
      <header>
        <div class="PBTableHeader" style="background-color: #0588c9;">
          Payment Methods
        </div>
      </header>
          <div class="PBTableColumn">
            <ul class="PBTableRows" id="expensesItems">
              {% for method in payment_methods %}
                  <li>{{ method[1] }}</li>
              {% endfor %}
            </ul>
          </div>
      <footer>
        <div class="PBTableFooter" style="background-color: #0588c9;">
          Add New Method
        </div>
      </footer>
    </div>
  </div>

</div>

{% endblock %}