{% extends 'base.html' %}

{% block title %}Add Income{% endblock %}

{% block footer %}

<script src="/js/getTodayDate.js"></script>

<script>

  $(document).ready(function() {
    $('#formAddIncome').validate({
      rules: {
        amount: {
          required: true,
          min: 0.01,
          max: 9999999.99
        },
        date: 'required',
        comment: {
          maxlength: 100
        }
      }
    });
  });

</script>

{% endblock %}

{% block body %}

  {% if income.errors is not empty %}
      <p>Errors:</p>
      <ul>
          {% for error in income.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
  {% endif %}

  <div id="incomePanel">
    <div id="upperIncomePanel">
      <div id="upperIncomePanelText">
        Adding Income
      </div>
      <svg width="45px" height="45px" viewBox="0 0 16 16" class="bi bi-plus-circle mt-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
        <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      </svg>
    </div>

    <div class="lowerPanel" style="height: 355px;">
      
      <form method="post" action="/IncomeController/create" id="formAddIncome">

        <div class="inputPanel">
          <input type="number" name="amount" step="0.01" placeholder="0.00" min="0.01" max="99999999.99"
          class="form-control" value="{{ income.amount }}" />
        </div>

        <div class="inputPanel">
          <input type="date" name="date" class="form-control" id="enterDate" value="{{ income.date }}" />
        </div>

        <div class="inputPanel">
          <select class="form-control" name="income_category_id">
            {% for category in income_categories %}
              <option value="{{ category[0]}}">{{ category[1] }}</option>';
            {% endfor %}
          </select>
        </div>

        <div class="inputPanel">
          <input type="text" name="comment" class="form-control"
            placeholder="Add comment to the income" value="{{ income.comment }}" />
        </div>

        <input type="submit" class="addButton" value="ADD">
        <a href="/usermenu/show"><input type="button" class="cancelButton" value="CANCEL"></a>
      </form>
    </div>
  </div>

{% endblock %}